@import "../../functions";
@import "../../mixins";

main h2 {
  text-transform: uppercase;
  color: #ff453a;
}

main .date {
  margin-top: 20px;
  text-decoration: underline;
}

main .first-p {
  position: relative;
  padding: 20px;
  width: getPart(100, 20%);
  background-color: getDarken(#ffe0c6);
  @include round(20px);
  @include triangle('left');
}

@for $i from 1 through 10 {
  .width#{$i} {
    width: 10% * $i;
    height: 30px;
    background-color: darken(#ff6b46, 5% * $i);
    margin-bottom: 2px;
  }
}

@for $i from 1 through 20 {
  li:nth-child(#{$i}) {
    background-color: rgb(35 * $i, 12 * $i, 3 * $i);
  }
}